@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
	width: 360px;
	padding: 8% 0 0;
	margin: auto;
}
.form {
	background: #ffffff;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
	font-family: 'Roboto', sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form button {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4caf50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
	background: #43a047;
}
.form .message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}
.form .message a {
	color: #4caf50;
	text-decoration: none;
}
.form label {
	color: #2c3e50;
	font-size: 12px;
	font-weight: 700;
	margin: 15px 0 0;
}
.form #message-text {
	margin: 30px 0px 0px;
	font-weight: 700;
	color: #9b59b6;
	font-size: 16px;
	display: none;
}
.form #button-reset {
	margin-top: 16px;
	background: #e67e22;
}
.form #button-reset:hover {
	margin-top: 16px;
	background: #f39c12;
}
.container {
	max-width: 300px;
	margin: 0 auto;
}
body {
	background: #76b852; /* fallback for old browsers */
	background: -webkit-linear-gradient(right, #3498db, #2980b9);
	background: -moz-linear-gradient(right, #3498db, #2980b9);
	background: -o-linear-gradient(right, #3498db, #2980b9);
	background: linear-gradient(to left, #3498db, #2980b9);
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
